{% extends 'base.html.twig' %}

{% block title %}Mostrar Cita{% endblock %}

{% block page_title %}Mostrar Cita{% endblock %}

{% block breadcrums %}
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Citas</a></li>
    <li><a href="#">Mostrar Cita</a></li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">

                <div>
                    {% for message in app.flashes('notification') %}
                        <div class="alert alert-info alert-dismissible fade show">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>

                <table id="tabla" class="table table-striped table-bordered" style="width:100%">
        <tbody>
            <tr>
                <th>Fecha</th>
                <td>{{ cita.fecha ? cita.fecha|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Paciente</th>
                <td>{{ cita.paciente.nombre }} {{ cita.paciente.apellidos }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ cita.estado }}</td>
            </tr>
            {% if cita.paquete %}
            <tr>
                <th>Paquete</th>
                <td>{{ cita.paquete.nombre }}</td>
            </tr>
            {% endif %}
            {% if cita.servicio %}
                <tr>
                    <th>Servicio</th>
                    <td>{{ cita.servicio.nombre }}</td>
                </tr>
            {% endif %}
            {% if cita.especialidad %}
                <tr>
                    <th>Especialidad</th>
                    <td>{{ cita.especialidad.nombre }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

                <div class="row">
                    <a class="btn btn-primary m-1 ml-3" href="{{ path('cita_index') }}">Listar</a>
                    {% if user_logged_role == 'admin' %}
                        <a class="btn btn-primary m-1" href="{{ path('cita_edit', {'id': cita.id}) }}">Editar</a>
                    {% else %}
                        <a class="btn btn-primary m-1" href="#" onclick="alert('Aqui solo modificará la fecha')">Reprogramar</a>
                    {% endif %}
                    {{ include('cita/_delete_form.html.twig') }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
